.paywall-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5dad2;
  height: 30em;
}
.paywall-login-maindiv {
  text-align: center;
}
.paywall-loginform {
  background-color: white;
  width: 27em;
  height: 20em;
  border-radius: 10px;
}
.login-title {
  padding-top: 15px;
}
#username {
  width: 25em;
  margin-bottom: 20px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
}
#password {
  width: 25em;
  margin-bottom: 20px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
}
#login-btn{
   margin-top:10px;
}
